body{


	font-family: "Pavanam", "Open Sans", Sans-Serif;
	font-weight: 300;
	font-size: 2em;
	height: 100%;
	position: relative;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Oleo Script","Open Sans",Sans-Serif;
	font-weight: 100;
	margin: 0;
}

.fixed-bg{
	
	background-size: cover;	
	min-height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
.fixed-bg.fixed-bg-home{
	background-image: url("../images/light-lamp.jpg");
}

/*Navigation-Header*/
header .navbar{
	transition: all .2s ease-out;
	overflow: hidden;
}

header nav.navbar.navbar-fixed-top.navbar-default {
	background-color: transparent;
	border:none;
}

header .navbar-default .navbar-nav a{
	color: #EEC856;
	border: none;

}

header .navbar-default .navbar-nav a:hover{
	color: #EEC856;
	background: transparent;
	text-shadow: none;
}


header .navbar-default .navbar-nav .active a{
	border-bottom: 4px solid #d64d24;
	text-shadow: none;
	font-weight: 700;
	color:#EEC856;
	background: transparent;
}

header .navbar-default .navbar-nav .active a:hover{
	color: #EEC856;
	background: transparent;
	text-shadow: none;
}



/*Navigation-Header brand*/
.navbar-header a {
	font-family: 'Marck Script', cursive;
	text-decoration: none;
}
.navbar-default .navbar-header{
	background-color: transparent;
}

.navbar-default .navbar-header a{
	font-size: 2.1em;	
	color: #EE4000;
	background: -webkit-linear-gradient(#ffff1a, #EE4000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home .row{
	display: table;
}
.vcenter{
	padding-top: 20px;
	color: white;
	font-weight: 200;
	font-size: 1.8em;
	display: table-cell;
    vertical-align: middle;
    float: none;
}

/*about me section*/

#aboutMe{
	background-image: url("../images/light-gray-wood.jpg");
	background-size: cover;	
	min-height: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	border: thick inset #966F33;
	padding: 25px;
	
}

#aboutMe span{
	color: orange;
	white-space:nowrap;
    overflow:hidden;
    animation-delay: 2s;
	-webkit-animation: type 5s steps(30, end);
    animation: type 5s steps(30, end);

}

@keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

#aboutMe p{
	color: orange;
}

#aboutMe h1{
	text-align: center;
	color: #E9E0DB
}

.animated{
	animation-name: "shake-animation";
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes shake-animation {
      0% {
      	animation-delay:4s;
      }
      5%,25% {
          text-shadow: none;
      }
      15%,35% {
          animation-delay:4s;
      }
      40% {
        text-shadow: none;
    }
}

#aboutMe .abtMe_imgs{
	height: 100px;
	width: 100px;
	padding-left: 30px;
	align-items: left;
}

#aboutMe .abtMe_imgs_2{
	padding-left: 30px;
	height: 250px;
	width: 290px;

}
#skills{
	background-image: url("../images/pale-wood2.jpg");
	background-size: cover;	
	min-height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	padding-bottom: 50px;
}

#skills img{
	padding-left: 30px;
	float:left;
    display: inline-block;
    height: 100px;
    width: 93px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.skillScroll{
    border-top: thin solid #DFDFDF;
    border-bottom: thin solid #DFDFDF;
    height: 120px;
    align-items: center;
    width: 80%;
    margin: auto;
}

.slick-prev:before, .slick-next:before {
    color:black !important;
}

#skills h1{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}


/*Projects*/
#projects{
	background-color: #E5E4E2;
	border-top: 5px solid #8C1717;
	border-bottom: 5px solid #8C1717;
}

#projects h1{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.hovereffect {
	height: 250px;
	width: 300px;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:pointer;
}

.hovereffect .overlay {
	height: 250px;
	width: 300px;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	opacity:0;
	background-color:rgba(0,0,0,0.5);
	-webkit-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}

.hovereffect img {
	height: 250px;
	width: 300px;
	display:block;
	position:relative;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
	padding-left: 0px;
}

.hovereffect h3 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	background:rgba(0,0,0,0.6);
	-webkit-transform:translatey(-100px);
	-ms-transform:translatey(-100px);
	transform:translatey(-100px);
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	padding:10px;
}

.hovereffect:hover img {
	-ms-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}

.hovereffect:hover .overlay {
	opacity:1;
	filter:alpha(opacity=100);
}

.hovereffect:hover h3 {
	opacity:1;
	filter:alpha(opacity=100);
	-ms-transform:translatey(0);
	-webkit-transform:translatey(0);
	transform:translatey(0);
}

#projects .modal{
	background-color: rgba(0,0,0,0.9);
}
#projects .modal .modal-content{
	background-color: #E0CDAF;
}
#projects .modal .modal-header{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-weight: 300em;
}
#projects .modal .modal-body a{
	text-align: center;
}

/*Contact Me*/
.fixed-bg.fixed-bg-contact{
	background-image: url("../images/firewood.jpg");
	height:310px;
}

#contactMe{
	align-items: center;
}
#contactMe h1{
	padding-top: 35px;
	padding-bottom: 20px;
	text-align: center;
	color: #000000;
}
#contactMe .contact_image{
    height: 100px;
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/*Navigation Scroll*/

header nav.navbar.navbar-fixed-top.navbar-default.navScroll{
	background-color: rgba(50,30,5,0.9);
}

/*Navbar toggle for smaller breakpoints*/
header .navbar-default .navbar-toggle{
	background-color: white;
}

@media (min-width: 768px) and (max-width: 980px){
	#projects .hovereffect .overlay,#projects .hovereffect img, 
	#projects .thumbnail.hovereffect{
		float: none;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.navbar-default .navbar-header a{
		font-size: 1.8em;	
	}
	.row{
		margin-left:0px;
		margin-right: 0px;
	}
	#contactMe .contact_image{
	    display: block;
	    margin-right: auto;
	    margin-left: auto;
	}
}

@media (max-width: 768px){
	.row{
		margin-left:0px;
		margin-right: 0px;
	}
	header .navbar-collapse.in{
		background-color: rgba(0,0,0,0.5);
	}
	.navbar-default .navbar-header a{
		font-size: 1.2em;	
	}
	#aboutMe .abtMe_imgs{
		height: 70px;
		width: 70px;
		padding-left: 15px;
	}

	#aboutMe .abtMe_imgs_2{
		padding-left: 15px;
		height: 180px;
		width: 190px;

	}
	#aboutMe .no-display{
		display: none;
	}
	#projects .hovereffect .overlay,#projects .hovereffect img, 
	#projects .thumbnail.hovereffect{
		height: 250px !important;
		width: 300px  !important;
		float: none;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
	}
	#projects .col-sm-10{
		display: block;
	}
	.fixed-bg.fixed-bg-contact{
		height:210px;
	}
	#contactMe .contact_image{
	    height: 50px;
	    width: 50px;
	    display: block;
	    margin-right: auto;
	    margin-left: auto;
	}
}

@media only screen and (max-width: 500px){
	#projects .hovereffect .overlay,#projects .hovereffect img, 
	#projects .thumbnail.hovereffect{
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		float: none;
		display: block;
		height: 180px  !important;
		width: 250px  !important; 
	}
	.fixed-bg.fixed-bg-contact{
		height:210px;
	}
	#contactMe .contact_image{
	    height: 50px;
	    width: 50px;
	    display: block;
	    margin-right: auto;
	    margin-left: auto;
	}
}

